

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akciger Hacmi Hesaplama</title>
</head>
<body>

    <div>
    <h1>Akciğer Hacmi Hesaplama</h1>

    <form action="{{ url_for('predict')}}"method="post">
        
    
        Yas: <input type="text" name="Yas" id="Yas" placeholder="Yas">
        <br> <br>
        Cinsiyet: <input type="text" name="Cinsiyet" id="Cinsiyet" placeholder="1:Erkek, 2:Kadın">
        <br> <br>
        Boy: <input type="text" name="Boy" id="Boy" placeholder="cm">
        <br> <br>

        <button type="submit">Predict</button>

    </form>
    <br><br>

    
    {{pred}}

   
</div>
</body>
</html>